@font-face {
    font-family: RobotoLightItalic;
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype')
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 'center';
}

.hero {
    background-color: #1F2937;
    flex: 5;
    padding: 50px;
    width: 75%
}

.middle {
    flex: 10;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.middle .imgStyle {
    width: 125px;
    height: 125px;
    margin: 10px
}

.middle .quoteStyle {
    background-color: #E5E7EB;
    padding: 100px;
    margin: 50px;
    font-family: 'RobotoLightItalic', sans-serif;
    font-size: 36px;
}

.middleImgContainer {
    display: flex; 
    text-align: center; 
    align-items: center; 
    justify-content: center
}

.actionStyle {
    display: flex; 
    padding: 20px; 
    background-color: #3882F6; 
    justify-content: space-between; 
    align-items: center;
    width: 50%
}

.actionStyle h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}

.actionStyle p {
    font-size: 12px;
}

.footer {
    flex: 1;
    background-color: #1F2937;
    margin: 50px;
    width: 75%;
    text-align: center;
    margin-bottom: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    flex: 1;
}

.logo h1 {
    font-size: 24px;
    color: #F9FAF8
}

.header .button {
    flex: 2;
}

.tablink {
    background-color: #1F2937;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.mainTextStyle {
    display: flex;
    align-items: center;
    justify-content: "space-between"
}

.mainTextStyle .titleStyle {
    flex: 2;
}

.mainTextStyle .img {
    flex: 1;
}

.titleStyle h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.titleStyle p {
    font-size: 18px;
    color: #E5E7EB
}

.buttonStyle {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 1px;
}

.imgContainer p {
    flex: 1;
    max-height: 60px;
}

.imgContainer img{
    flex: 1;
}

